.mySwiper {
    display: grid;
    width: 1720px;
    margin-left: 250px;
    margin-top: 30px;

}

.slide {
    display: flex;
    flex-wrap: wrap;

}


.swiper-wrapper {

    display: flex;
    flex-direction: row;

}

.container {
    position: relative;
    margin: 0 250px;
}

.arrow-prev {
    cursor: pointer;
    float: left;
    width: 20px;
    height: 30px;
    background-image: url(../assets/images/arrowSlider.svg);
    background-repeat: no-repeat;

}

.arrow-next {
    cursor: pointer;
    margin-left: auto;
    width: 20px;
    height: 30px;
    background-image: url(../assets/images/arrowSlider.svg);
    background-repeat: no-repeat;
    transform: scale(-1, 1);
}
